# Unit 4. 데이터 구조(Data Structure)

## 1. 리스트(list)

### 1) 리스트 선언

- 리스트명 = [요소1, 요소2, 요소3, ...]
- 리스트를 만들 때는 위에서 보는 것과 같이 대괄호([ ])로 감싸 주고 각 요소값들은 쉼표(,)로 구분
- 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.

In [ ]:
a = []
b = [1, 2, 3]
c = ['list', 'is', 'too', 'short']
d = [1, 2, 'life', 'is']
e = [1, 2, ['life', 'is']]

비어 있는 리스트는 a = list()로 생성할 수도 있다.

### 2) 리스트 연산

- 리스트 병합 : [리스트] + [리스트] + ... + [리스트] : 각 리스트를 병합하여 하나의 리스트로 생성

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

- 리스트 반복 : 리스트를 n만큼 반복하여 하나의 리스트로 생성

In [2]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

len(리스트) : 리스트의 길이(요소의 개수)를 반환

In [3]:
len(a)

3

### 3) 리스트 인덱싱

- 리스트[인덱스] : 인덱스에 해당하는 요소를 반환
- 인덱스는 0부터 시작
- 음수 인덱스는 뒤에서부터 접근(-1은 뒤에서 첫 번째, -3은 뒤에서 세 번째)

In [5]:
print(a[0])
print(a[1])
print(a[-1])

1
2
3

In [8]:
#print(a[3])
#print(a[-4])

### 4) 리스트 슬라이싱

- 리스트[시작 인덱스:끝 인덱스] : 시작 인덱스~끝 인덱스-1에 해당하는 요소를 반환

In [12]:
a = [10, 20, 30, 40, 50]
print(a[0:4])
print(a[:4])
print(a[4:])
print(a[:])
print(a[:-1])
print(a[:999])
print(a[-999:])

[10, 20, 30, 40]
[10, 20, 30, 40]
[50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

- 중첩된 리스트에서 슬라이싱

In [13]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

### 5) Mutable한 자료형

In [14]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

### 6) 리스트 구성요소 확인

- in : 리스트의 요소인가를 확인하는 연산자
- not in : 리스트의 요소가 아닌 요소를 확인하는 연산자

In [1]:
aliquotpart = [1, 2, 3, 4, 6, 12]
print(1 in aliquotpart)
print(5 in aliquotpart)
print(1 not in aliquotpart)
print(5 not in aliquotpart)

True
False
False
True

### 7) 리스트 관련 함수들

- del : 요소 삭제하기

In [3]:
a = [1,2,3,4,5]
del a[1]
print(a)
del a[2:]
print(a)

[1, 3, 4, 5]
[1, 3]

- append : 리스트의 맨 마지막에 요소 추가하기

In [5]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

- sort : 리스트 정렬하기

In [6]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

- reverse : 리스트 순서 뒤집기

In [7]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

- index : 요소 위치 반환하기

In [1]:
a = [1,2,3]
print(a.index(3))
print(a.index(1))

2
0

- insert : 특정 인덱스 앞에 요소 삽입하기

In [2]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [3]:
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

- remove : 특정 요소 삭제하기

In [9]:
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

- pop : 특정 인덱스 요소 꺼내기

In [14]:
a = [1,2,3]
b = a.pop()
print(a)
print(b)

[1, 2]
3

- count : 요소 개수 확인하기

In [16]:
a = [1,2,3,1]
a.count(1)

2

- extend : 리스트 확장하기(더하기)

In [22]:
a = [1,2,3]
a.extend([4,5])
b = [6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7]

- join

In [23]:
a = ["1", "2", "3"]
", ".join(a)

'1, 2, 3'

### 8) 리스트 복사

In [3]:
a = [1,2,3]
b = a
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [4]:
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [6]:
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [9]:
a = [1,2,3]
b = a[:]
print(id(a))
print(id(b))

2920884877000
2920884893768

In [11]:
#from copy import copy
a = [1,2,3]
b = a.copy()
print(id(a))
print(id(b))

2920884877000
2920884893768

## [연습문제]

### 1. words라는 list 안에 happy, love, I, am, You라는 단어가 차례대로 들어가 있다. 이 단어들로 문장을 만들어 보자.

In [42]:
words = ['happy', 'love', 'I', 'am', 'You']
print(words[2], words[1], words[4])

I love You

### 2. 철수, 영희, 수지, 수정, 길동, 영철 총 6명의 학생이 학원의 같은 반이다. 수정이가 친구와 놀러 간다고 학원 수업에 빠졌고, 수정이의 엄마는 수정이가 왔는지 오지 않았는지 확인 전화를 걸어 본다. 수정이가 있는지 없는지를 in을 이용해 알아보자.

In [45]:
names = ['철수', '영희', '수지', '길동', '영철']
print('수정' in names)

False

### 3. 로또는 숫자 6개를 입력해야 한다. list1 = [1, 2, 3, 6, 7]이라 할 때, 통과할 수 있는지 알아보는 프로그램을 작성해 보자.

In [49]:
list1 = [1, 2, 3, 6, 7]
if len(list1) == 6:
    print('통과')
else:
    print('6개를 입력하세요')

6개를 입력하세요

### 4. word = [‘h’, ‘i’, ‘m’, ‘y’, ‘n’, ‘a’, ‘m’, ‘e’, ‘i’, ‘s’]의 list가 있다. 여기서 단어 하나를 추출해보자.

In [51]:
word = ['h', 'i', 'm', 'y', 'n', 'a', 'm', 'e', 'i', 's']
print(word[4:8])

['n', 'a', 'm', 'e']

### 5. list인 introduce에는 ‘내’, ‘이’, ‘름’, ‘은’, ‘수’, ‘지’, ‘야’라는 요소들이 들어가 있다. 여기서 이름인 수지를 민수로 바꾸어보자.

In [23]:
introduce = ['내', '이', '름', '은', '수', '지', '야']
introduce[4] = '민'
introduce[5] = '수'
print(introduce)

['내', '이', '름', '은', '민', '수', '야']

In [12]:
s = '내이름은수지야'
i = list(s)
print(i)

['내', '이', '름', '은', '수', '지', '야']